body {
    padding-top: 110px; /* Ajustez cette valeur pour correspondre à la hauteur de votre header */
}
.fond-accueil,.fond-accueil-3,.fond-accueil-4{
    width: 100%;
    height: 730px;
    z-index: 1;
}

.fond-accueil-5{
  margin-bottom: 20px;
}

.fond-accueil-6{
  margin-bottom: 75px;
}

.txt-pres{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
color: var(--color-txt-pres);
font-family: var(--font-family-txt-pres);
font-size: var(--font-size-txt-pres);
font-style: var(--font-style-txt-pres);
font-weight: var(--font-weight-txt-pres);
line-height: var(--line-height-txt-pres);
}

.txt-pres-2{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
color: var(--color-txt-pres-2);
font-family: var(--font-family-txt-pres);
font-size: var(--font-size-txt-pres);
font-style: var(--font-style-txt-pres);
font-weight: var(--font-weight-txt-pres);
line-height: var(--line-height-txt-pres);
}

.txt-pres-3{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
color: var(--color-txt-pres-2);
font-family: var(--font-family-txt-pres);
font-size: var(--font-size-txt-pres);
font-style: var(--font-style-txt-pres);
font-weight: var(--font-weight-txt-pres);
line-height: var(--line-height-txt-pres);
}

.txt-pres-4{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
color: var(--color-txt-pres-2);
font-family: var(--font-family-txt-pres);
font-size: var(--font-size-txt-pres);
font-style: var(--font-style-txt-pres);
font-weight: var(--font-weight-txt-pres);
line-height: var(--line-height-txt-pres);
}

.rectangle-card{
    border-radius: 50px;
background-color: #665341;
width: 326px;
height: 450px;
margin: 0 auto;
margin-bottom: 80px;
}

.le-chapeau-card{
    color: var(--color-chap-card);
font-family: var(--font-family-chap-card);
font-size: var(--font-size-chap-card);
font-style: var(--font-style-chap-card);
font-weight: var(--font-weight-chap-card);
line-height: var(--line-height-chap-card);
text-align: center;
margin-bottom: 20px;
}

.txt-card-pres{
    text-align: center;
    color: var(--color-txt-card);
font-family: var(--font-family-txt-card);
font-size: var(--font-size-txt-card);
font-style: var(--font-style-txt-card);
font-weight: var(--font-weight-txt-card);
line-height: var(--line-height-txt-card);
margin-top: 50px;
}

.rectangle-card-2{
    border-radius: 25px;
background: #FFD9B6;
width: 325px;
height: 249px;
flex-shrink: 0;
margin: 0 auto;
margin-bottom: 95px;
display: flex;
align-items: center;
justify-content: center;
}

.txt-card-2{
    text-align: center;
    color: var(--color-txt-card-2);
font-family: var(--font-family-txt-card);
font-size: var(--font-size-txt-card);
font-style: var(--font-style-txt-card);
font-weight: var(--font-weight-txt-card);
line-height: var(--line-height-txt-card);
}

.line-black-1{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.carousel-container {
    position: relative;
    width: 393px; /* Largeur du carrousel */
    height: 720px; /* Hauteur du carrousel */
    overflow: hidden;
    border: 2px solid #ccc; /* Bordure pour délimiter le carrousel */
    border-radius: 10px; /* Coins arrondis */
    background-color: #503E3E; /* Fond marron permanent */
    margin: 0 auto; /* Centre horizontalement */
    margin-bottom: 90px;
  }
  
  .carousel-slides {
    display: flex; /* Affiche les diapositives horizontalement */
    transition: transform 0.5s ease-in-out; /* Animation de la transition lors du changement de diapositive */
  }
  
  .carousel-slide {
    flex-shrink: 0; /* Empêche les diapositives de se rétrécir */
    width: 393px; /* Largeur d'une diapositive (doit correspondre à celle du carrousel) */
    height: 720px; /* Hauteur de la diapositive */
    display: flx;
    flex-direction: column; /* Aligne l'image et le texte verticalement */
    align-items: center; /* Centre horizontalement les éléments */
    justify-content: center; /* Centre verticalement les éléments */
    text-align: center; /* Centre le texte */
    flex: 0 0 100%;
  }
  
  .carousel-slide img {
    width: 225px; /* Fixe la largeur de l'image */
    height: 340px; /* Fixe la hauteur de l'image */
    object-fit: cover; /* Ajuste l'image sans déformation */
    border-radius: 5px; /* Coins arrondis de l'image */
    margin-bottom: 20px; /* Espace entre l'image et le texte */
  }
  
  
  
  .carousel-slide p {
    font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: 700;
  }
  
  .carousel-buttons {
    position: absolute;
    top: 50%; /* Place les boutons verticalement au centre */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Boutons aux extrémités */
    transform: translateY(-50%); /* Ajuste le centrage */
    pointer-events: none; /* Empêche les boutons de bloquer le clic sur le carrousel */
  }
  
  .carousel-button-prev,
  .carousel-button-next {
    background-color: #503E3E; /* Boutons semi-transparents */
    color: #fff; /* Couleur marron pour correspondre au thème */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    pointer-events: all; /* Active les clics uniquement sur les boutons */
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-button-prev:hover,
  .carousel-button-next:hover {
    background-color: #fff; /* Change la couleur au survol */
    color: #503E3E; /* Texte blanc au survol */
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 20px; /* Place les indicateurs en bas du carrousel */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .carousel-indicator {
    width: 10px;
    height: 10px;
    background-color: #665341;
    border-radius: 50%;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-indicator.active {
    background-color: #fff; /* Indicateur actif en blanc */
    
  }
  
  .btn-container {
    text-align: center; /* Centre le contenu du conteneur */
    margin-top: 20px; /* Espacement entre le texte et le bouton */
    
}

.btn {
    background: #665341; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px; /* Bordure arrondie */
    width: 194.444px; /* Largeur du bouton */
    height: 55.622px; /* Hauteur du bouton */
    flex-shrink: 0; /* Empêche le bouton de se rétrécir dans un container flex */
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.btn:hover {
    background-color: #fff; /* Couleur de fond au survol */
    color: #665341;
}

body.film,body.livre,body.musique,body.realisateur,body.frise,body.filmlist{
  background-color: #36281B;
}

.title-page{
  color: var(--color-title-page);
font-family: var(--font-family-title-page);
font-size: var(--font-size-title-page);
font-style: var(--font-style-title-page);
font-weight: var(--font-weight-title-page);
line-height: var(--line-height-title-page);
margin-left: 20px;
margin-bottom: 40px;
}

.txt-page-1{
  text-align: left;
  color: var(--color-txt-1-film);
font-family: var(--font-family-txt-1-film);
font-size: var(--font-size-txt-1-film);
font-style: var(--font-style-txt-1-film);
font-weight: var(--font-weight-txt-1-film);
line-height: var(--line-height-txt-1-film);
margin-bottom: 60px;
width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
    margin-left: 20px;
}

.title-small-film{
  color: var(--color-title-small);
font-family: var(--font-family-title-page);
font-size: var(--font-size-title-page);
font-style: var(--font-style-title-page);
font-weight: var(--font-weight-title-page);
margin-left: 20px;
margin-bottom: 15px;
}

.txt-film{
  color: var(--color-txt-page);
font-family: var(--font-family-txt-page);
font-size: var(--font-size-txt-page);
font-style: var(--font-style-txt-page);
font-weight: var(--font-weight-txt-page);
line-height: var(--line-height-txt-page);
width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
    margin-left: 20px;
    text-align: left;
    margin-bottom: 15px;
}

.txt-filmm{
  color: var(--color-txt-page);
  font-family: var(--font-family-txt-page);
  font-size: var(--font-size-txt-page);
  font-style: var(--font-style-txt-page);
  font-weight: var(--font-weight-txt-page);
  line-height: var(--line-height-txt-page);
  width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
      margin-left: 20px;
      text-align: left;
      margin-bottom: 50px;
}

.chapeau-page{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.txt-last-film{
  text-align: left;
  color: var(--color-txt-1-film);
font-family: var(--font-family-txt-1-film);
font-size: var(--font-size-txt-1-film);
font-style: var(--font-style-txt-1-film);
font-weight: var(--font-weight-txt-1-film);
line-height: var(--line-height-txt-1-film);
margin-bottom: 100px;
width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
    margin-left: 20px;
}

.logo-bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.music-pic-1{
  margin-bottom: 25px;
}

.txt-musique{
  color: var(--color-txt-page);
font-family: var(--font-family-txt-page);
font-size: var(--font-size-txt-page);
font-style: var(--font-style-txt-page);
font-weight: var(--font-weight-txt-page);
line-height: var(--line-height-txt-page);
width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
    margin-left: 20px;
    text-align: left;
    margin-bottom: 50px;
}

.music-pic-2{
  margin-bottom: 50px;
}

.line-musique,.line-realisateur{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


.txt-realisateur{
  color: var(--color-txt-page);
font-family: var(--font-family-txt-page);
font-size: var(--font-size-txt-page);
font-style: var(--font-style-txt-page);
font-weight: var(--font-weight-txt-page);
line-height: var(--line-height-txt-page);
width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
    margin-left: 20px;
    text-align: left;
    margin-bottom: 50px;
}

.txt-realisateur-cinevisionnaire{
  color: var(--color-txt-page);
  font-family: var(--font-family-txt-page);
  font-size: var(--font-size-txt-page);
  font-style: var(--font-style-txt-page);
  font-weight: var(--font-weight-txt-page);
  line-height: var(--line-height-txt-page);
  width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
      margin-left: 20px;
      text-align: left;
      margin-bottom: 10px;
}

.txt-realisateur-cinevisionnaire-2{
  color: var(--color-txt-realisateur-cinevisionnaire-2);
  font-family: var(--font-family-txt-page);
  font-size: var(--font-size-txt-page);
  font-style: var(--font-style-txt-page);
  font-weight: var(--font-weight-txt-page);
  line-height: var(--line-height-txt-page);
  width: calc(100% - 40px); /* Prend toute la largeur de la page moins 40px pour les marges */
      margin-left: 20px;
      text-align: left;
      margin-bottom: 50px;
}

.njdsv{
  margin-bottom: 500px;
}


.container-img-bottom {
  position: relative;
  width: 250px; /* Largeur du carrousel */
  height: 250px; /* Hauteur du carrousel */
  overflow: hidden;
  border: 2px solid #fff; /* Bordure pour délimiter le carrousel */
  border-radius: 10px; /* Coins arrondis */
  background-color: #665341; /* Fond marron permanent */
  margin: 0 auto; /* Centre horizontalement */
  margin-bottom: 90px;
}

.container-img-bottom :hover{
  transform: scale(1.1);
  transition: ease-in-out 0.7s;
}

.img-frise-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex-shrink: 0; /* Empêche les diapositives de se rétrécir */
  width: 350px; /* Largeur d'une diapositive (doit correspondre à celle du carrousel) */
  height: 350px; /* Hauteur de la diapositive */
  display: flex;
  flex-direction: column; /* Aligne l'image et le texte verticalement */
  align-items: center; /* Centre horizontalement les éléments */
  justify-content: center; /* Centre verticalement les éléments */
  text-align: center; /* Centre le texte */
  box-sizing: border-box;
}

.carousel-slide img {
  width: 250px; /* Fixe la largeur de l'image */
  height: 250px; /* Fixe la hauteur de l'image */
  object-fit: cover; /* Ajuste l'image sans déformation */
  border-radius: 5px; /* Coins arrondis de l'image */
  margin-bottom: 20px; /* Espace entre l'image et le texte */
}

.carousel-buttons-2 {
  position: absolute;
  top: 50%; /* Place les boutons verticalement au centre */
  width: 100%;
  display: flex;
  justify-content: space-between; /* Boutons aux extrémités */
  transform: translateY(-50%); /* Ajuste le centrage */
}

.carousel-indicators-2 {
  position: absolute;
  bottom: 20px; /* Place les indicateurs en bas du carrousel */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-indicator-2 {
  width: 10px;
  height: 10px;
  background-color: #665341;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicator-2.active {
  background-color: #fff; /* Indicateur actif en blanc */
}


.card-evo-left{
  width: 200px;
height: 350px;
flex-shrink: 0;
border-radius: 25px;
border: 1px solid #FFF;
background: #503E3E;
margin-bottom: 30px;
margin-left: 15px;
}

.txt-card-1{
  margin-top: 20px;
  text-align: center;
  color: var(--color-txt-card-evo);
font-family: var(--font-family-txt-card)-evo;
font-size: var(--font-size-txt-card-evo);
font-style: var(--font-style-txt-card-evo);
font-weight: var(--font-weight-txt-card-evo);
line-height: var(--line-height-txt-card-evo);
}

.card-evo-right{
  width: 200px;
height: 350px;
flex-shrink: 0;
border-radius: 25px;
border: 1px solid #FFF;
background: #503E3E;
margin-bottom: 15px;

}

.container-evo{
  display: flex;
  justify-content: right;
   margin-right: 20px;
}

.arrow-evo{
  margin-left: 150px
}

.evo-arrow-right{
  display: flex;
  justify-content: right;
   margin-right: 150px;
}
.container-evo-2{
  width: 300px;
height:  300px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #FFF;
background: #503E3E;
}

.container-evo-2{
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}








.carousel-container-3 {
  position: relative;
  width: 393px; /* Largeur du carrousel */
  height: 720px; /* Hauteur du carrousel */
  overflow: hidden;
  border: 2px solid #ccc; /* Bordure pour délimiter le carrousel */
  border-radius: 10px; /* Coins arrondis */
  background-color: #503E3E; /* Fond marron permanent */
  margin: 0 auto; /* Centre horizontalement */
  margin-bottom: 90px;
}

.carousel-slides {
  display: flex; /* Affiche les diapositives horizontalement */
  transition: transform 0.5s ease-in-out; /* Animation de la transition lors du changement de diapositive */
}

.carousel-slide {
  flex-shrink: 0; /* Empêche les diapositives de se rétrécir */
  width: 393px; /* Largeur d'une diapositive (doit correspondre à celle du carrousel) */
  height: 720px; /* Hauteur de la diapositive */
  display: flex;
  flex-direction: column; /* Aligne l'image et le texte verticalement */
  align-items: center; /* Centre horizontalement les éléments */
  justify-content: center; /* Centre verticalement les éléments */
  text-align: center; /* Centre le texte */
  flex: 0 0 100%;
}

.carousel-slide img {
  width: 225px; /* Fixe la largeur de l'image */
  height: 340px; /* Fixe la hauteur de l'image */
  object-fit: cover; /* Ajuste l'image sans déformation */
  border-radius: 5px; /* Coins arrondis de l'image */
  margin-bottom: 20px; /* Espace entre l'image et le texte */
}

.carousel-slide p {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-weight: 700;
}



