:root{
    --texte-menu-color: #FFF !important;
    --font-family-menu: "IBM Plex Mono";
    --font-size-menu: 35px;
    --font-style-menu: normal;
    --font-weight-menu: 700;
    --line-height-menu: normal;




}