:root{
    --texte-menu-color: #FFF ;
    --font-family-menu: 'IBM Plex Sans', sans-serif;
    --font-size-menu: 35px;
    --font-style-menu: normal;
    --font-weight-menu: 700;
    
    --color-texte-footer: #FFF;
    --font-family-footer: 'Inter', sans-serif;
--font-size-footer: 20px;
--font-style-footer: normal;
--font-weight-footer: 400;
--line-height-footer: normal;

--color-droit-footer: #FFF;
--font-family-droit-footer: 'IBM Plex Sans', sans-serif;
--font-size-droit-footer: 10px;
--font-style-droit-footer: normal;
--font-weight-droit-footer: 400;
--line-height-droit-footer: normal;

--color-txt-pres: #000;
--font-family-txt-pres: 'IBM Plex Sans', sans-serif;
--font-size-txt-pres: 20px;
--font-style-txt-pres: normal;
--font-weight-txt-pres: 700;
--line-height-txt-pres: normal;

--color-txt-pres-2: #fff;

--color-chap-card:  #FFF;
--font-family-chap-card: 'IBM Plex Sans', sans-serif;
--font-size-chap-card: 20px;
--font-style-chap-card: normal;
--font-weight-chap-card: 700;
--line-height-chap-card: normal;

--color-txt-card: #FFF;
--font-family-txt-card: 'IBM Plex Sans', sans-serif;
--font-size-txt-card: 13px;
--font-style-txt-card: normal;
--font-weight-txt-card: 400;
--line-height-txt-card: normal;

--color-txt-card-2: #000;
--font-family-txt-card: 'IBM Plex Sans', sans-serif;
--font-size-txt-card: 13px;
--font-style-txt-card: normal;
--font-weight-txt-card: 400;
--line-height-txt-card: normal;

--color-title-page: var(--Blanc, #FFF);
--font-family-title-page: 'IBM Plex Sans', sans-serif;
--font-size-title-page: 20px;
--font-style-title-page: normal;
--font-weight-title-page: 700;
--line-height-title-page: normal;

--color-txt-1-film:  #FFF;
--font-family-txt-1-film: 'IBM Plex Sans', sans-serif;
--font-size-txt-1-film: 13px;
--font-style-txt-1-film: normal;
--font-weight-txt-1-film: 400;
--line-height-txt-1-film: normal;

--color-title-small: #FFF;
--font-family-title-small: Inter;
--font-size-title-small: 18px;
--font-style-title-small: normal;
--font-weight-title-small: 900;
--line-height-title-small: normal;

--color-txt-page: #FFF;
--font-family-txt-page: 'IBM Plex Sans', sans-serif;
--font-size-txt-page: 13px;
--font-style-txt-page: normal;
--font-weight-txt-page: 400;
--line-height-txt-page: normal;


--color-txt-realisateur-cinevisionnaire-2:  #FFF;
--font-family-txt-realisateur-cinevisionnaire-2: 'IBM Plex Sans', sans-serif;
--font-size-txt-realisateur-cinevisionnaire-2: 10px;
--font-style-txt-realisateur-cinevisionnaire-2: normal;
--font-weighttxt-realisateur-cinevisionnaire-2: 400;
--line-height-txt-realisateur-cinevisionnaire-2: normal;

--color-txt-card-evo: #FFF;
--font-family-txt-card-evo: 'IBM Plex Sans', sans-serif;
--font-size-txt-card-evo: 20px;
--font-style-txt-card-evo: normal;
--font-weight-txt-card-evo: 2000;
--line-height-txt-card-evo: normal;

--color-title-filmlist: #FFF;
--font-family-title-filmlist: 'IBM Plex Sans', sans-serif;
--font-size-title-filmlist: 20px;
--font-style-title-filmlist: normal;
--font-weight-title-filmlist: 700;
--line-height-title-filmlist: normal;

--color-txt-pres-2: #FFF;
--text-align-txt-pres-2: center;
--font-family-txt-pres-2: 'IBM Plex Sans', sans-serif;
--font-size-txt-pres-2: 20px;
--font-style-txt-pres-2: normal;
--font-weight-txt-pres-2: 700;
--line-height-txt-pres-2: normal;

--color-title-otherprocects: #FFF;
--font-family-title-otherprocects: "IBM Plex Mono";
--font-size-title-otherprocects: 20px;
--font-style-title-otherprocects: normal;
--font-weight-title-otherprocects: 700;
--line-height-title-otherprocects: normal;
}