.menu{
    position: fixed;
    inset: 0;
    background-color: #665341;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    list-style: none;
    
}

.menu[aria-hidden="false"] {
    visibility: visible;
}

.lateral-bar{
    position: absolute;
    left: 0;
    
}

.lateral-bar-2{
    position: absolute;
    left: 0;
    top: 50;
}

.bar-lateral{
    height: 100vh;
    
}

.bar-lateral-chapeau{
    top: 0;
    left: -5px;
    position: absolute;
    width: 80px;
    height: 80px;
}

.close-x-icon{
    position: absolute;
    top: 27.5px;
    right: 27.5px;
    
}

.x-icon-close{
cursor: pointer;
}

.menu__item a{
    
    text-decoration: none;
    color: var(--texte-menu-color);
    font-family: var( --font-family-menu);
    font-size: var(--font-size-menu);
    font-style: var(--font-style-menu);
    font-weight: var(--font-weight-menu);
    display: block; /* Assurez-vous que les liens prennent tout l'espace */
    margin-bottom: 35px; /* Espacement entre les liens */
    
}

.menu__item:not(:last-child) {
    margin-bottom: 15px;
}

.menu__list{
height: 475px;
width: 300px;
list-style: none;
}

body.menu2{
    background-color: #665341;
}

body.menu2{
    background: #665341;
}

.sidebar2{
    width: 74px;
height: 100vh;
flex-shrink: 0;
border-radius: 0px 25px 25px 0px;
background-color: #FFF;
position: absolute;
top: 0;
z-index: 1;
}

.point-bar-side{
    width: 25px;
height: 25px;
flex-shrink: 0;
border-radius: 100%;
fill: #665341;
position: absolute;
z-index: 1;
top: 50vh;
display: flex; /* Utilise Flexbox pour centrer les éléments enfants */
    justify-content: center; /* Centre horizontalement */
    left: 20px;
    
}

.skip-back{
    position: absolute;
    left: 25vh;
    top: 37vh;
}

.autres-menu2{
    color: var(--color-autres-menu2);
    font-family: var(--font-family-autres-menu2);
    font-size: var(--font-size-autres-menu2);
    font-style: var(--font-style-autres-menu2);
    font-weight: var(--font-weight-autres-menu2);
    line-height: var(--line-height-autres-menu2);
    position: absolute;
    top: 50vh;
    left: 10vh;
}

.autres-menu22{
    color: var(--color-menu-other-2);
    font-family: var(--font-family-menu-other-2);
    font-size: var(--font-size-menu-other-2);
    font-style: var(--font-style-menu-other-2);
    font-weight: var(--font-weight-menu-other-2);
    line-height: var(--line-height-menu-other-2);
    position: absolute;
    top: 55vh;
    left: 12vh;
}

a {
    text-decoration: none; /* Enlève les décorations des liens */
    color: inherit; /* Hérite de la couleur du texte parent */
}
