.menu{
    position: fixed;
    inset: 0;
    background-color: #665341;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    list-style: none;
    
}

.menu[aria-hidden="false"] {
    visibility: visible;
}

.lateral-bar{
    position: absolute;
    left: 0;
    
}

.lateral-bar-2{
    position: absolute;
    left: 0;
    top: 50;
}

.bar-lateral{
    height: 100vh;
    
}

.bar-lateral-chapeau{
    top: 0;
    left: -10px;
    position: absolute;
    width: 80px;
    height: 80px;
}

.close-x-icon{
    position: absolute;
    top: 27.5px;
    right: 27.5px;
    
}

.x-icon-close{
cursor: pointer;
}

.menu__item a{
    
    text-decoration: none;
    color: var(--texte-menu-color);
    font-family: var( --font-family-menu);
    font-size: var(--font-size-menu);
    font-style: var(--font-style-menu);
    font-weight: var(--font-weight-menu);
    display: block; /* Assurez-vous que les liens prennent tout l'espace */
    margin-bottom: 35px; /* Espacement entre les liens */
    
}

.menu__item:not(:last-child) {
    margin-bottom: 15px;
}

.menu__list{
height: 475px;
width: 300px;
list-style: none;
}

body.menu2{
    background-color: #665341;
}

body.menu2{
    background: #665341;
}